<ol class="post-list">

  <li>
    <article class="post">
      <div class="title">
        <a href="{{post_url}}" target="_blank">{{title}}</a>
        <span>({{post_url}})</span>
      </div>

      <div class="meta">
        point(s) by {{user.username}} on
        {{created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
      </div>

    <main>
      <div class="card-container-row">
        <div class="card-container-column">
          <div class="card">
            <h5>Read Reviews</h5>
            <div class="instructions">
              <p>Click here to read a review of other rental properties</p>
            </div>
          </div>

          <div class="card">
            <h5>Write a Review</h5>
            <div class="instructions">
              <p>Click here to write a review of your last rental experience</p>
            </div>
          </div>
        </div>

        <div class="card card-big">
          <h5>IMG</h5>
        </div>
      </div>
    </main>

    </article>
  </li>
</ol>