<article class="post">
  {{!-- <div class="title">
    <a href="{{post_url}}" target="_blank">{{title}}</a>
    <span>({{post_url}})</span>
  </div>

  <div class="meta">
    point(s) by {{user.username}} on
    {{created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
  </div> --}}
  <main>
    <div class="card-container-row">
      <div class="card-container-column">
        <div class="card">
          <h5><a href="/read-review">Read Reviews</a></h5>
          <div class="instructions">
            <p>Click here to read a review of other rental properties</p>
          </div>
        </div>

        <div class="card">
          <h5><a href="/add-review">Write a Review</a></h5>
          <div class="instructions">
            <p>Click Here to Add a Review</p>
          </div>
        </div>
      </div>

      <div class="card card-big">
        <img src="/images/homepagehouse.jpg">
      </div>
    </div>
  </main>
</article>